$base: #0b0c10;

    #heroimg {
        
        background: linear-gradient(90deg, rgba(146,39,143,1) 0%, rgba(239,65,54,1) 35%, rgba(251,176,64,1) 100%);
        max-width: 100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: solid #EDEDED 1px;
    }
    #herotxt {
        max-width: 100%;
        padding: 100px;
        text-align: center;
        color: white;
    }
    #herotxt p{
        padding: 20px;
    }
    #homepage button {
        background-color: $base;
        border-radius: 5px;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        height: 40px;
        width: 200px;
        outline: none;
        max-width: 100%;
    }
    #homepage button:hover {
        transition: 0.3s;
		box-shadow: 1px 1px 5px black;   
	}
    #homepage>.text{
        font-size: 40px;
        margin: 10px;
        margin-inline: 10%;
        max-width: 100%;
        word-wrap:break-word;
        
    }
    
    #homepage-2{
        box-shadow: 0px -20px 20px rgba($color: black, $alpha: 0.3);
    max-width: 100%;
    }


.boxes
{   
    margin-inline: 10%;
    margin-block: 100px;
    display: inline-flex;
    position: flex;
    width: 80%;  
}
@media screen and (max-width: 600px) {
    .boxes{
        display: inline;
        
    }
    .box-1, .box-2, .box-3{
        padding: 10px;
    }
    
}
.box-1, .box-2, .box-3
{   
    width: 16rem;
    height: 16rem;
    color: $base;
}


.iconepg
{
    background-image: linear-gradient(108.32deg,#92278F -10.4%,#EF4136 46.14%,#FBB040 99.98%);

    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    top: 0;
    margin-left: 3rem;
    color: $base;   
    max-width: 100%;
}
.box-1 h3
{
    margin-left: 2rem;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
    color: $base;
}
.box-1 p 
{
    margin-left: 2rem;
    text-align: center;
    font-size: 16px;
}


.medal
{
  
    font-size: 5rem;
    top: 0;
    margin-left: 3.5rem;
    color: $base;
   
}
.box-2 h3
{
    margin-left: 2rem;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
    color: $base;
}
.box-2 p 
{
    margin-left: 2rem;
    text-align: center;
    font-size: 16px;
}


.student
{
  
    font-size: 5rem;
    top: 0;
    margin-left: 3.5rem;
    color: $base;
   
}
.box-3 h3
{
    margin-left: 2rem;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
    color: $base;
}
.box-3 p 
{
    margin-left: 2rem;
    text-align: center;
    font-size: 16px;
}