$buttons: #0b0c10;
$input-width: 300px;

*{
	padding: 0;
	margin:0;
	text-decoration: none;
	list-style: none;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

/* Top Navigation */
#container{
	max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}	
nav{
	background: white;
  	position: sticky;
  	top: 0;
	height: 55px;
	width: 100%;
	border-bottom: solid #EDEDED 1px;
	box-shadow: 1px 2px 10px rgba($color: black, $alpha: 0.2);
}
nav .logo{
	position: absolute;
	height: 40px;
	margin: 8px;
	cursor: pointer;
}

nav .buttons{
	float:right;
}
nav .buttons .item{
	display: inline-block;
	line-height: 55px;
	margin: 0 5px;
	
}
$txtnavbar: black;
nav .buttons .item .link{
	color:$txtnavbar;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
}
$interaction: lightgray;
.link:hover{
	background: $interaction;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color:$txtnavbar;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;

}



/* Botão para mobile nav*/
@media (max-width: 1000px){
	nav .logo{
		left:1%;
	}

	.checkbtn{
		display: grid;
		right: 10%;
		margin-top: 12px;
		font-size: 30px;
	}
	.buttons{
		position: fixed;
		width: 50%;
		height: 100%;
		background: rgba($color: black, $alpha: .5);
		top: 55px;
		right: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav .buttons .item{
		display: block;
		margin: 50px 0;
		line-height: 30px;
		
	}
	$medianav:white;
	nav .buttons .item .link{
		border-bottom: 1px solid $medianav;
		color: $medianav;
		font-size: 20px;
	}
	.link:hover{
		background: none;
	}
	#check:checked ~ .buttons {
		right: 0;

	}
}

/* Final Nav */ 


#loginpage{
	display: flex;
	background: linear-gradient(90deg, rgba(146,39,143,1) 0%, rgba(239,65,54,1) 35%, rgba(251,176,64,1) 100%);
	height: 90vh;
}

/*----------Login Form----------*/

.logoLogin{
	width: 150px;
	margin-inline: 30%;
	margin-block: 10%;

}

form {
	padding: 3vw;
	margin-block: 10vh;
	height: fit-content;
	width: fit-content;
	background-color: white;
	box-shadow: 0px 0px 30px rgba($color: black, $alpha: .5);
  }
  
form label{
	  font-size: 20px;
	  
	  font-family:Arial, Helvetica, sans-serif
  }

  /* Buttons */
form button {
	display: inline;
	background-color: $buttons;
	border-radius: 5px;
	color: white;
	padding: 14px 20px;
	margin: 1px;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 200px;
	max-width: 100%;
  }
	/* Hover Buttons */
	form  button:hover {
		opacity: 0.8;
	}
	form .button-wrap{
		margin-top: 30px;
		margin-bottom: 10px;
		
	}

  /* Inputs */
  $line: 8rem;
	form>input[type=text], form>input[type=password]{
		display: block;
		width: $input-width;
		padding: 14px 20px;
		margin: 20px;
		border: none;
		background: linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 1px no-repeat;;
		outline: none;
	}

/*Form */
@media screen and (max-width:600px){

	form{
		max-width: 80%;
	}

	form .logoLogin{
		max-width: 50%;
	}
	#loginpage{
		max-width: 100%;
		text-align: center;

	}
	form>input[type=text], form>input[type=password]{
		padding: 2%;
		margin: 10;
		max-width: 80%;
		text-align: center;
		
	}
}


	/* Footer */
footer{
	box-shadow: 1px -2px 10px rgba($color: black, $alpha: 0.2);
	display: inline-flex;
	line-height: 40px;
	min-width: 100%;
	height: 40px;
	background-color: #EDEDED;
}
.copyright{
    font-family: sans-serif;
	font-size: 80%;
	color:black;
}

@media screen and (max-width:600px){
	.copyright{
		width: 100%;
		text-align: center;
	}
}


/* Final Footer */